@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}
header{
  border: 1px solid black;
  padding: 1em;
  background-image: url("img/banniere.jpg");
  background-size: cover; 
}

h1{
  color:white;
}
nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

nav ul li{
  height: 3rem;
  flex-basis: 18%;
  border: 1px solid black;
  display:flex;
  align-items:center;
  justify-content:center;
}

nav ul li a{
  color:black;
}

nav ul li:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
}
  
footer{
  display: flex;
  justify-content: center;
  border: 1px solid black;
}