h2{
  font-weight: 500;
  font-size: 1.5rem;
}

nav ul li:nth-of-type(3){
  background: #1877F2;
  color: white;
}

nav ul li:nth-of-type(3) a, aside ul li a{
  color: white;
}

.main-aside-container{
  display: flex;
  justify-content: space-evenly;
}

main{
  flex-basis: 65%;
  display:flex;
  flex-direction:column;
  gap:2rem;
}

aside{
  padding: 1rem;
  flex-basis: 25%;
  border: 1px solid black;
  border-radius: 15px;
}

section{
  display: flex;
  gap: 2em;
}

section:last-of-type{
    flex-direction: row-reverse;
}

section img{
    width: 25vw;
    object-fit: contain;
}

section > div{
  flex-basis: 70%
}


aside ul{
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-evenly;
}

aside ul li {
  padding: 0.7rem 2rem 0.7rem 2rem;
  border-radius: 5px;
  background: #1877F2;
}

aside ul li:hover{
  cursor: pointer;
}

.contact-box{
  background: #1877F2;
  color: white;
  border-radius: 10px;
  padding: 0.1em 1.5em 0.1em 1.5em;
  margin: 0.5em;
}



/* UN PETIT PEU DE RESPONSIVE ICI */

@media(max-width: 880px){
  .main-aside-container{
    flex-direction: column;
    margin: 2rem;
    row-gap: 2rem;
  }
}