nav ul li:nth-of-type(1){
  background: #1877F2;
  color: white;
}

  nav ul li:nth-of-type(1) a{
  color: white;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 2em 3em 2em;
}

h2{
  font-size: 4em;
}

.btn{
  margin-top: 2em;
  padding: 1em 4em 1em 4em;
  background: #1877F2;
  border-radius: 10px;
  transition: 0.5s ease;
}

.btn:hover{
  cursor: pointer;
  background: #1a66b9;
}

.btn a {
  font-weight: bold;
  color:white;
}


footer{
  border: 1px solid black;
}
