nav ul li:nth-of-type(5){
    background: #1877F2;
    color: white;
}
  
nav ul li:nth-of-type(5) a{
    color: white
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 2rem;
    margin: 2rem;
}

main .card{
    flex-basis: 40%;
    padding: 1.3rem;
    background: #999999;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap:1rem;
}

main .card-inner{
    flex-grow:1;
    background: rgba(255,255,255,0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    border-radius:10px;
}

main .card img{
    width: 20vw;
    object-fit: contain;
}

main .card button{
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    background: #1877F2;
    color: white;
    font-weight: bold;
    border-radius: 7px;
    float:right;
    transition: all 0.5s ease;
}

main .card button:hover{
    cursor: pointer;
    background: #4977F9;
}